{% extends "base.html" %}

{% block page_content %}
<div class="d-flex justify-content-center">
    <div>
<h1>Add new guest</h1>
<form action="" method="POST">
    {%csrf_token %}
    <div class="form-group">
        <label for="name_field">Name</label>
        <input type="text" class="form-control" id="name_field" name="name" placeholder="Enter Name"
               value="{{ guestName }}" required>
    </div>

    <div class="form-group">
        <label for="surname_field">Surname</label>
        <input type="text" class="form-control" id="surname_field" name="surname" placeholder="Enter Surname"
               value="{{ guestSurname }}" required>
    </div>

    <div class="form-group">
        <label for="phone_field">Phone</label>
        <input type="text" class="form-control" id="phone_field" name="phone" placeholder="Enter phone"
               value="{{ guestPhone }}" required>
    </div>

    <div class="form-group">
        <label for="age_field">Age</label>
        <input type="number" class="form-control" id="age_field" name="age" placeholder="Enter age"
               value="{{ guestAge }}" min="0" max="100" required>
    </div>

    <button type="submit" class="btn btn-secondary">Add</button>

    {% if afterAdd %}
    <p class="confirmation_container container">
        Gość {{ addedGuestName }} został dodany poprawnie do listy gości.
    </p>
    {% endif %}

    {% if guestExist %}
    <p class="error_container container">
        Gość {{ guestName }} {{ guestSurname }} już jest na liście!
    </p>
    {% endif %}

    {% if errorGuest %}
    <div class="validation_error_container container">
        {{ errorsList }}
    </div>
    {% endif %}


</form>
    </div>
</div>


</style>
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/add_guest.css' %}">-->
{% endblock %}