{% extends "base.html" %}

{% block page_content %}
<div class="d-flex justify-content-center">
    <div>
        {% if isInEditMode %}
        <h1>Edit table</h1>
        {% else %}
        <h1>Add new table</h1>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="table_name_field">Table name</label>
                <input type="text" class="form-control" id="table_name_field" name="table_name"
                       placeholder="Enter table name"
                       value="{{ tableName }}" required>
            </div>

            <div class="form-group">
                <label for="description_field">Description</label>
                <input type="text" class="form-control" id="description_field" name="description"
                       placeholder="Provide more information about that table" value="{{ description }}" required>
            </div>

            <div class="form-group">
                <label for="number_of_seats_field">Number Of Seats</label>
                <input type="number" class="form-control" id="number_of_seats_field" name="number_of_seats"
                       placeholder="Enter number of seats" value="{{ numberOfSeats }}" required>
            </div>

            {% if isInEditMode %}
                {% if not afterAdd %}
                    <button type="submit" class="btn btn-secondary">Edit</button>
                {% else %}
                    <td><a href="{% url 'table-list' %}" class="btn btn-secondary btn-lg active"
                    role="button" aria-pressed="true">Back to Table list</a></td>
                {% endif %}
            {% else %}
                <button type="submit" class="btn btn-secondary">Add</button>
            {% endif %}


            {% if afterAdd %}
                {% if isInEditMode %}
                    <p class="confirmation_container container">
                        The {{ tableName }} is correctly edited.
                </p>
                {% else %}
                    <p class="confirmation_container container">
                        The {{ tableName }} is correctly added to the table list.
                    </p>
                {% endif %}
            {% endif %}

            {% if tableExist %}
            <p class="error_container container">
                The {{ tableName }} is already on the list!
            </p>
            {% endif %}

            {% if errorTable %}
            <div class="validation_error_container container">
                {{ errorList }}
            </div>
            {% endif %}

        </form>
    </div>
</div>

{% endblock %}
