{% extends "base.html" %}

{% block page_content %}
<div class="d-flex justify-content-center">
    <div>
        <h1>Edit guest</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name_field">Name</label>
                <input type="text" class="form-control" id="name_field" name="name" placeholder="Enter Name"
                       value="{{ guestName }}" required>
            </div>

            <div class="form-group">
                <label for="surname_field">Surname</label>
                <input type="text" class="form-control" id="surname_field" name="surname" placeholder="Enter Surname"
                       value="{{ guestSurname }}" required>
            </div>

            <div class="form-group">
                <label for="phone_field">Phone</label>
                <input type="text" class="form-control" id="phone_field" name="phone" placeholder="Enter phone"
                       value="{{ guestPhone }}" required>
            </div>

            <div class="form-group">
                <label for="age_field">Age</label>
                <input type="number" class="form-control" id="age_field" name="age" placeholder="Enter age"
                       value="{{ guestAge }}" min="0" max="100" required>
            </div>

            {% if not afterAdd %}
            <button type="submit" class="btn btn-secondary">Edit</button>
            {% endif %}
        </form>

        {% if afterAdd %}
        <p class="confirmation_container container">
            Guest {{ addedGuestName }} {{ addedGuestSurname }} is correctly edited.
        </p>
        <td><a href="{% url 'guest-list' %}" class="btn btn-secondary btn-lg active"
               role="button" aria-pressed="true">Back to Guest list</a></td>
        {% endif %}

        {% if guestExist %}
        <p class="confirmation_container container">
            Another guest called {{ guestName }} {{ guestSurname }} exists on the list!
            {% endif %}

            {% if errorTable %}
        <p class="confirmation_container container">
            {{ errorList }}
        </p>
        {% endif %}

    </div>
</div>


{% endblock %}