 {% extends "base.html" %}
 {% load static %}

 {% block page_content %}
 <h1>Guest list</h1>
 <table class="table table-striped">
     <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Seating [table name - seat number]</th>
            <th>Edit seating</th>
            <th>Delete seating</th>
        </tr>
        </thead>
        <body>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.id }}</td>
            <td>{{ guest.name }}</td>
            <td>{{ guest.surname }}</td>
            <td>{{ guest.phone }}</td>
            <td>{{ guest.age }}</td>
            <td><a href="{% url 'edit-guest' guest.pk %}" class="btn btn-primary btn-sm active"
                   role="button" aria-pressed="true">Edit</a></td>
            <td><button type="button" class="btn btn-secondary btn-sm active"
                        role="button" aria-pressed="true " data-type="delete"
                        data-guest-id="{{ guest.id }}"
                        data-guest-name="{{ guest.name }}" data-guest-surname="{{ guest.surname }}">
                Delete</button></td>
            <td>{{ guest.table_name }} - {{ guest.seat_number }}</td>
            <td>
                  {% if guest.seating_id %}
           <a href="{% url 'edit-seating' guest.seating_id %}" class="btn btn-primary btn-sm active"
                   role="button" aria-pressed="true">Edit</a>
            {% endif %}
                </td>
             <td>
                  {% if guest.seating_id %}
           <a href="{% url 'delete-seating' guest.seating_id %}" class="btn btn-primary btn-sm active"
                   role="button" aria-pressed="true">Delete</a>
            {% endif %}
                </td>
        </tr>
        {% endfor %}
  </body>
 </table>

{% include "delete.html" %}
    <script src="{% static 'js/delete_guest.js' %}"
            ></script>

 {% endblock %}