{% extends "base.html" %}

{% block page_content %}
    <h1>Add new guest</h1>
    <form action="" method="POST">
        {%csrf_token %}
        <div class="field_container">
            <label for="name_field">Name: </label>
            <input type="text" id="name_field" name="name" value="{{ guestName }}" required/>
        </div>

        <div class="field_container">
            <label for="surname_field">Surname: </label>
            <input type="text" id="surname_field" name="surname" value="{{ guestSurname }}" required/>
        </div>

        <div class="field_container">
            <label for="phone_field">Phone: </label>
            <input type="number" id="phone_field" name="phone" value="{{ guestPhone }}" maxlength="9" required/>
        </div>

        <div class="field_container">
            <label for="age_field">Age: </label>
            <input type="number" id="age_field" name="age" min="0" value="{{ guestAge }}" max="100" required/>
        </div>
        <input class="input_field" type="submit" value="ADD" />

        {% if afterAdd %}
            <p class="confirmation_container container">
                Gość {{ addedGuestName }} został dodany poprawnie do listy gości.
            </p>
        {% endif %}

        {% if guestExist %}
            <p class="error_container container">
                Gość {{ guestName }} {{ guestSurname }} już jest na liście!
            </p>
        {% endif %}

        {% if errorGuest %}
            <div class="validation_error_container container">
                {{ errorsList }}
            </div>
        {% endif %}



    </form>
    <style>
        .field_container {
        margin-bottom: 10px;
        margin: 10px;
    }

    .input_field{
        margin: 10px;
    }

    .container{
    margin-bottom: 10px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    }

    .confirmation_container {
    border-color: #7CFC00;
    width: 400px;
    }

    .error_container {
    border-color: red;
    width: 300px;
    }

    .validation_error_container {
    border-color: red;
    width: 500px
    }


    </style>
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'css/add_guest.css' %}">-->
{% endblock %}